<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>

    <style>
        body {
            background-color: #eee;
            color: #444;
            padding: 2em;
            font-family: sans-serif;
            text-align: center;
        }

        nav a {
            color: #888;
            display: inline-block;
            text-decoration: none;
            background-color: #fff;
            border: 1px solid #ccc;
            padding: .5em 1em;
            border-radius: 3px;
            font-size: .7em;
            text-transform: uppercase;
            font-weight: bold;
        }

        footer {
            padding: 3em 0 0 0;
            text-align: center;
        }

        footer p {
            font-size: 12px;
        }
    </style>
</head>
<body>

    {{> header}}

    <br>
    <br>  
    <h2>{{screamIt 'Hello from home'}}</h2>

    {{> footer}}
</body>
</html>