<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>

    <style>
        body {
            background-color: #ccc;
            color: orange;
            padding: 4em;
            font-family: serif;
            text-align: center;
        }
    </style>
</head>
<body>

    <h1>The site is <b>{{screamIt 'the site is under maintenance'}}</b></h1>

    {{> footer }}
</body>
</html>